<%- include('navbar') %>
<% if(msg!=''){%>
    <div class="alert alert-danger text-center" role="alert" >
      <b>
        <%= msg %>  </b></div>
        <% } %>
      <div class="container">
          <div class="row">
                <div class="col-md-6 mt-5 pt-5">
                    <div class="hm5">Store your Password Safely</div>
                    <div class="hm6 mt-4">Store your social media or any profile or account password here securely and safely</div>
                    <div><a href="/login"><button class="btn mt-4 hm7">Get Started</button></a></div>
                </div>
                <div class="col-md-6">
                    <img src="images/img3.png" class=" w-100 h-auto">
                </div>
          </div>
      </div>

  </body>
</html>