/* Home Page */

.hm1{
  background-color: #EEC9C7;
}

.hm2{
  font-weight:bold;font-family:Harlow Solid;
}

.hm3{
  color: #2B8D15;
}

.hm4{
  font-weight:500;font-size:20px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;
}

.hm5{
  color: #251661;font-weight: bold;font-size:60px;line-height:60px
}

.hm6{
  font-size:20px;font-weight:500;font-style: italic;
}

.hm7{
  border-radius:30px;background-color: #E72A60 ;border-color: #E72A60  ;font-size:20px;color: white;
}

/* Login Page */

.lg1{
  width:100%;height:600px;
}

.lg2{
  background-color:white;width: 100%;height: 600px;
}

.lg3{
  border: 2px solid grey;width: 40%;margin-left: 30%;
}

.lg4{
  border:1px solid grey;background-color:grey;width:20%;margin-left:40%;
}

.lg5{
  color:white;font-weight:bold;background-image:linear-gradient(to right,#E72A60 ,#ECA6BA );width: 100%;
}

.lg6{
  border-radius:30px;background-color: #9AD845;border-color: #9AD845;color: white;font-weight:bold
}

/* Register Page */

.rg1{
  color:white;font-weight:bold;background-image:linear-gradient(to right,#0F8579 ,#45D8C9);width: 100%;
}

/* Logged In*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.zoom {

transition: transform .4s; /* Animation */
border-radius: 20px;
margin: 0 auto;
-moz-box-shadow:    inset 0 0 10px #000000;
-webkit-box-shadow: inset 0 0 10px #000000;
box-shadow:         inset 0 0 10px #000000;

}


.zoom:hover {
transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* .pagination {
display: inline-block;
} */

.pagination a {
color: black;
float: left;
padding: 8px 16px;
text-decoration: none;
transition: background-color .3s;
border: 1px solid #ddd;
}

.pagination li.active {
background-color: #0C4050;
color: white;
border: 1px solid #0C4050;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/* Dashboard */

.head1{
  background-color:#adebeb;
}

.dash1{
  background-color: #0C4050;color:white;font-size: 30px;
}

.dash2{
  background-color: white;
  border:1px solid white;
}

.dash3{
  border-radius:30px;background-image:linear-gradient(to right,#E72A60 ,#ECA6BA );color: white;font-weight:bold"
}

.dash5{
  margin-left:40%;
}